@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');


body{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #d5e2f0;
    font-family: 'Unbounded', cursive;
    position: relative;
    z-index: -3;
}

.header{
    background-color: #2E6DB4;
    width: 100%;
    text-align: center;
    font-family: 'Unbounded', cursive;
    color: white
}

.sec-header{
    background-color: #6d99cb;
    width: 100%;
    padding: 1em 0;
    text-align: center;
}
#pop-btn{
margin-top: 7px;
background: transparent;
border: 2px solid #eaf0f8;
padding: 0.5em;
border-radius: 15px;
color: #eaf0f8;
font-family: 'Unbounded', cursive;
}
#pop-btn:hover{
  cursor: pointer;
  background-color: #82a7d2;
}

[contenteditable="true"]{
  border: 2px solid green;
  border-radius: 15px;
  padding: 0.2em;
  margin: 0;
}

#content{
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 13em);
    grid-column-gap: 5em;
    grid-row-gap: 1em;
    z-index: -2;
}

.card{
    background-color: #82a7d2;
    padding: 1em;
    margin: 2em 0.5em;
    text-align: left;
    display: grid;
    position: relative;
    width: 10em;
    color: white;
    border-radius: 15px;
    font-family: 'Unbounded', cursive;
    font-size: 1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.answer{
  text-align: center;
  margin: 1em;
}
#error, .change-error{
  color: #e60000;
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    --moz-appearance:textfield; /* Firefox */
}

.settings{
  position: absolute;
  top: -0.3em;
  background: transparent;
  border: none;
  right: 0.3em;
  font-size: 24px;
  cursor: pointer;
  color: white;
  font-family: 'Unbounded', cursive;
}

.save-change{
  position: absolute;
  bottom: -3em;
  width: 6em;
  right: 0;
  background: transparent;
  border: none;
  font-style: normal;
  display: none;
  background-color: green;
  color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-family: 'Unbounded', cursive;
  z-index: -1;
  padding: 1em;
}

.delete{
  position: absolute;
  bottom: -3em;
  width: 6em;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: transparent;
  margin: 0;
  border: none;
  font-style: normal;
  color: white;
  display: none;
  background-color: red;
  padding: 1em;
  font-family: 'Unbounded', cursive;
  z-index: -1;
}

.form{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) ;
  border: 3px solid white;
  border-radius: 15px;
  background-color: #2E6DB4;
  font-size: 20px;
  max-width: 50%;
  color: white;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  
}
.form input{
  background-color: transparent;
  border: 1px solid white;
  border-radius: 15px;
  width: 10em;
  text-align: center;
  font-size: 16px;
}
.form input:focus{
  outline: none;
  border: 1px solid white;
  caret-color: white;
}
.form input:valid{
  background-color: transparent;
  color: white;
  font-family: 'Unbounded', cursive;
}
.form label{
  min-width: 20em;
}
.form div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form button{
    margin-top: 7px;
    background: transparent;
    border: 2px solid #eaf0f8;
    padding: 0.7em;
    border-radius: 15px;
    color: #eaf0f8;
    font-family: 'Unbounded', cursive;
}
.form button:hover{
  cursor: pointer;
  background-color: #82a7d2;
}
.form .buttons{
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
#addDifficulty:invalid{
color: #e60000;
font-family: 'Unbounded', cursive;
}



/*Slider switch*/
    .switch {
        position:absolute;
        display: inline-block;
        width: 60px;
        height: 34px;
        bottom: 1.5em;
        right: 1em;
        
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }


      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #d5e2f0;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #2E6DB4;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        background-color: white;
      }
      input +.slider:before{
        background-color: #2E6DB4;
      }

      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }