body{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
}

.header{
    background-color: aqua;
    width: 100%;
    text-align: center;
}

.sec-header{
    background-color: lightblue;
    width: 100%;
    height: 3em;
    text-align: center;
}


#content{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 13em);
    /*grid-template-columns: repeat(fit-content, minmax(0, 1em));*/
    grid-column-gap: 5em;
    grid-row-gap: 1em;
   
}

.card{
    background-color: lightgray;
    padding: 1em;
    margin: 0.5em 0.5em;
    text-align: left;
    display: grid;

    width: 10em;
}

.answer{
  text-align: center;
  margin: 1em;
}
#error{
  color: red;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    --moz-appearance:textfield; /* Firefox */
}

#form{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) ;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 300px;
  max-width: 80%;
  padding: 20px;
  visibility: hidden;
}
#form button{
  margin: 15px;
  padding: 5px;
}

#addPlaytime{
  margin: 15px 0 15px 0;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: #2196F3;
  pointer-events: none;
  transition: 200ms ease-in-out;
}

.overlay.active{
  opacity: 0.7;
  pointer-events: all;
}


/*Slider switch*/
    .switch {
        position:relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }


      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #2196F3;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
/*

@media (max-width: 1000px){
  #content{
    grid-template-columns: repeat(3, minmax(0, 1em));
}

}
@media (max-width: 700px){
  #content{
    grid-template-columns: repeat(2, minmax(0, 1em));
}

}
@media (max-width: 500px){
  #content{
    grid-template-columns: repeat(1, minmax(0, 1em));
}

}*/